.whiteMode-img {
  color: white;
  transition: all 0.2s linear;
}

.darkMode-img {
  transition: all 0.2s linear;
}

.button-style {
  color: orange;
  transition: all 0.2s linear;
}

.whiteMode-img:hover,
.darkMode-img:hover,
.button-style:hover {
  cursor: pointer;
  color: orange;
  transform: scale(1.4);
}

.curren-view-menu {
  height: 1.5px;
  background-color: var(--color-current-view-menu);
}
