.todoList {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

.deleted-button {
  transition: all 0.2s linear;
}

.deleted-button:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.text-style-basic {
  color: var(--color-text);
  margin-left: 5px;
}
