.inputText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #281a54;
}

.input-button {
  cursor: pointer;
  height: 20px;
  width: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: orange;
  color: white;
}

.input-box {
  border: 0;
  padding-left: 7px;
  height: 18px;
  width: 180px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-box:focus {
  outline: none;
}
